*
!lab1-input-output
!lab1-input-output/lib.inc
!.gitignore
!lab2-dictionary
!lab2-dictionary/colon.inc
!lab2-dictionary/dict.asm
!lab2-dictionary/lib.asm
!lab2-dictionary/main.asm
!lab2-dictionary/notes.md
!lab3/
!lab3/*.c
!lab3/*.h
!lab4/
!lab4/*.c
!lab4/*.h
!lab5/
!lab5/*.c
!lab5/*.h
!lab6/
!lab6/*.c
!lab6/*.h
!lab6/Makefile
!lab7/
!lab7/*.c
!lab7/*.h
